<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.CodedUITestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITesting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITest.Extension" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.ExecutionCommon" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Vsip" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.WindowsPhone.CodedUITestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.WindowsStore.CodedUITestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITest.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.WindowsPhone.UITesting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.WindowsStore.UITest.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.WindowsStore.UITest.Extension" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.WindowsStore.UITesting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>